/*
	PROPERTIES CUSTOMIZED OF CSS FOR THE PROJECT
	BY: RhuanOliver IN: 23-06-2020 22:24:17
	CONTACT: rhuancarlos@gmail.com 
*/

.logo-w{
  padding-bottom: 0px !important;
}

.auth-header {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

.auth-box-w {
  max-width: 481px !important;
}

.typeFormLogin {
  width: 450px;
}