/*
	PROPERTIES CUSTOMIZED OF CSS FOR THE PROJECT
	BY: RhuanOliver IN: 29-12-2019 00:41
	CONTACT: rhuancarlos@gmail.com 
*/

.ct-user-role {
	color: #ffa500 !important;
	font-weight: 400;
}

.avisos {
	color:#00000063;
	font-size: 14px;
}

.default-avisos-lembretes {
	height: 190px;
	overflow: auto;
}


/* #REFERENCE: main.css line: 27868 */


/* MAIN */

/* Mobile */
.font-sub-menu{
	font-weight: 550 ;
}

.font-sub-itens-menu{
	font-size: 0.9rem !important;
	font-weight: 300;
}

/* #REFERENCE: main.css line: 26936 */
.floated-colors-btn.second-floated-btn {
	right: 16.8px;
}

/* #REFERENCE: main.css line: 26913 */
/* ##. Dark Color Scheme */
.floated-colors-btn {
	z-index: 9999;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: #252A32;
	border-radius: 75px;
	color: #fff;
	padding: 12px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	vertical-align: middle;
	font-size: 13px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

/* #REFERENCE: main.css line: 26657 */
.floated-customizer-btn.third-floated-btn {
	right: 201.4px;
}

/* #REFERENCE: main.css line: 26633 */
/* 26. Customizer */
.floated-customizer-btn {
	z-index: 9999;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-image: linear-gradient(-154deg, #1b55e2 8%, #021138 90%); /*Criative*/
	-webkit-box-shadow: 0px 5px 10px rgba(19, 19, 19, 0.17);
			box-shadow: 0px 5px 10px rgba(19, 19, 19, 0.17);
	border-radius: 75px;
	color: #fff;
	padding: 10px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	vertical-align: middle;
	font-size: 13px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.floated-customizer-panel {
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 320px;
	padding: 25px 35px;
	-webkit-box-shadow: 0px 15px 125px rgba(0, 0, 0, 0.22);
			box-shadow: 0px 15px 125px rgba(0, 0, 0, 0.22);
	border-radius: 6px;
	color: #3E4B5B;
	bottom: 70px;
	z-index: 999;
	right: 201.4px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-transform: translate3d(20px, 40px, 0) scale(0.9);
	transform: translate3d(20px, 40px, 0) scale(0.9);
}

/**
* DEFINITONS THE OF STYLE FOR SELECT2
*/

/* #REFERENCE: select2.css line: 143 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 38px !important;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px; 
}

.format-tokeninput-rc-1 {
	height: 38px !important;
	padding-top: 0px;
	padding-bottom: 0px;
}

.format-tokeninput-rc-clear {
	height: 36px !important;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 0px;
}

.format-tokeninput-rc-results-options{
	/* font-style: italic; */
	/* color: #383838ba;
	font-size: 10px; */
	color: #ff0707;
	font-size: 12px;
}
/*
*	###################  FORM PARTICIPANTES
*/

.adjusted-block-left {
	padding-left: 0px !important;
}

.adjusted-block-right {
	padding-right: 0px !important;
}

/* #REFERENCE: main.css line: 694 */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto, .col-xxxl-1, .col-xxxl-2, .col-xxxl-3, .col-xxxl-4, .col-xxxl-5, .col-xxxl-6, .col-xxxl-7, .col-xxxl-8, .col-xxxl-9, .col-xxxl-10, .col-xxxl-11, .col-xxxl-12, .col-xxxl,
.col-xxxl-auto, .col-xxxxl-1, .col-xxxxl-2, .col-xxxxl-3, .col-xxxxl-4, .col-xxxxl-5, .col-xxxxl-6, .col-xxxxl-7, .col-xxxxl-8, .col-xxxxl-9, .col-xxxxl-10, .col-xxxxl-11, .col-xxxxl-12, .col-xxxxl,
.col-xxxxl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	float: right;
	/*   padding-right: 10px;
	padding-left: 10px; */
}

/* END Animations */
@media only screen and (max-width: 768px) {
	[class^='col-xs-'],
	[class^='col-sm-'],
	[class^='col-md-'],
	[class^='col-lg-'] {
	  margin-bottom: 10px;
	  padding-left: 0px;  /* custom Criative */
	  padding-right: 0px;  /* custom Criative */
	  margin-left: 0px;  /* custom Criative */
	}
}
/* ###################  END FORM PARTICIPANTES */

/* SINALIZATIONS */
.error {
	border:2px solid #e65252 !important;
}

.preloader {
    display: flex;
    font-size: 25px;
    opacity: 1;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s all linear;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: 999999999 !important;
    background: rgba(0,0,0,0.3);
    /*background: teal;*/
    top: 0;
    left: 0;
}

.preloader .preloader_img{
/*     border-radius: 50%;
    border-top: 6px solid teal;
    border-left: 6px solid teal;
    border-right: 6px solid teal;
    border-bottom: 6px solid #FFF;*/
    height: 90px;
    width: 90px;
    /*animation-name: preloader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	margin: 10px; */
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

input:required {
	background-color: #fff4f4;
}

select:required {
	background-color: #fff4f4;
}

textarea {
	font-size: initial;
	padding: 8px;
}

textarea:required {
	background-color: #fff4f4;
}


input[type=color] {
	width: 46px; 
	height: 36px; 
	padding: 0px; 
	border: none;
}

.element-search-advanced {
	box-shadow: 0px 0px 20px 0px rgba(126, 142, 177, 0.12) !important;
}

/*
DEFINNIÇÃO PARA TABELAS
*/

tbody {
	/* text-align: center; */
	font-size: 14px;
}

table thead tr th {
	background-color: #0070e9 !important;
	color: #fff !important;
}

thead tr th{
	/* text-align: center; */
	padding-left:10px !important; 
	padding-right:10px !important; 
	font-size: 14px;
}

table td {
	padding: 0px 10px 0px 10px !important;
}

.table td, .table th {
	padding: .75rem;
	vertical-align: middle !important;
}

.container-fluid {
	width: 100%;
	padding-left: 0px !important; 
	padding-right: 0px !important;
	margin-right: auto;
	margin-left: auto;
}

.adjusted-buttons-table{
	margin-left: 5px;
	margin-right: 5px;
	text-align: left !important;
}

/*DEFINIÇÕES DE PAGINAS*/

.ultimo-nivel-pagina{
	color: #007bff;
}

/* ICONS */

.icons-size-1:hover, .icons-size-2:hover, .icons-size-3:hover{ color: #0056b3; }
.icons-size-1, .icons-size-2, .icons-size-3{ color: #0D3085; cursor: pointer; }
.icons-size-1{ font-size: 14px; }
.icons-size-2{ font-size: 20px !important; }
.icons-size-3{ font-size: 22px; }
.icon-ativar { color: #3fc433; cursor: pointer; }
.icon-inativar { color: #c43333; cursor: pointer; }

/* CONTAS, PAGAMENTOS*/
.icon-situacao-pagamento, .icon-situacao-pago, .icon-situacao-pendente, .icon-situacao-cancelado {font-size: smaller !important;}
.icon-situacao-pago { color: #03c503; }
.icon-situacao-pendente { color: #ffe300;}
.icon-situacao-cancelado { color: #ff1a1a;}

.form-control {
	padding: 0.375rem 0.25rem !important;
}

/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.panel-title {
	font-size: 14px;
}

.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}

.more-less {
	float: right;
	color: #212121;
	margin-left: 5px;
	margin-right: 5px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}

/*

ALERTS / SWAL.FIRE

customClass: {
  container: 'container-class',
  popup: 'popup-class',
  header: 'header-class',
  title: 'title-class',
  closeButton: 'close-button-class',
  icon: 'icon-class',
  image: 'image-class',
  content: 'content-class',
  input: 'input-class',
  actions: 'actions-class',
  confirmButton: 'confirm-button-class',
  cancelButton: 'cancel-button-class',
  footer: 'footer-class'
}
*/
.swal2-title {
	position: relative;
	max-width: 100%;
	margin: 0 0 0.4em;
	padding: 0;
	color: #595959;
	font-size: 1.875em !important;
	font-weight: 500 !important;
	text-align: center;
	text-transform: none;
	word-wrap: break-word;
}

.btn-opcoes {
	background-image: linear-gradient(-207deg, #1b55e2 8%, #497bff 90%);
	-webkit-box-shadow: 0px 5px 10px rgba(19, 19, 19, 0.17);
	box-shadow: 0px 5px 10px rgba(19, 19, 19, 0.17);
	height: 99px;
	border: 1px solid;
	border-radius: 8px;
	color: white;
	padding-top: 32px;
	margin-left: 39px;
}

.acoes_btn {
	color: red !important;
	cursor: pointer !important;
}
/* ag: 0001
ct: 94414104-3 */